/* General Reset */

@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');


body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #333;
  }
  
  /* Header */
  .logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    position: relative;

  }
  
  .header h1 {
    font-size: 2.5rem;
  }
  
  .header p {
    font-size: 1.2rem;
  }
  
  /* Section Styling */
  .section h2 {
    font-size: 2rem;
  }
  
  .section p {
    font-size: 1rem;
    line-height: 1.5;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  /* Roadmap Lists */
  .list-unstyled li {
    margin-bottom: 0.5rem;
  }
  
  /* Footer */
  .footer p {
    margin: 0;
    font-size: 0.9rem;
  }

  .footer_section {
    background-color: #171717;
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .footer_section p {
    padding: 20px;
    color: #636363;
    margin: 0 auto;
    text-align: center;
  }
  

  .footer_section a {
    color: #636363;
  }
  h5{
    font-weight: bold;
    transition: ease-out 1s;
    
  }
  .road{
    font-size: 50px;
    border-bottom: blue solid;
  }

  #roadmap{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
   
  }

  #about-text{
    font-size: 20px;
  }

  .about-g{
    font-size: 50px;
    border-bottom: blue solid;
  }
#heading{
  font-size: 40px;
}
